
<body>
    <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="footer-col">
                     <h4>Sitesoch</h4>
                     <ul>
                        <li><a class="nav-link text-light link" routerLink="home" routerLinkActive="active"><i class="fas fa-home"></i>Home</a>
                         </li><li><a class="nav-link text-light link" routerLink="browse" routerLinkActive="active"><i class="fas fa-search"></i>Browse</a></li>
                         <li><a class="nav-link text-light link" routerLink="podcast" routerLinkActive="active"><i class="fas fa-podcast"></i>Podcast</a></li>
                         
                     </ul>
                 </div>
                 <div class="footer-col">
                    <h4>Languages</h4>
                    <ul>
                        <li>    <a class=" nav-link text-light link" routerLink="browse" routerLinkActive="active"><i class="fab fa-etsy"></i>nglish </a></li>
                        <li> <a class=" nav-link text-light link" routerLink="browse" routerLinkActive="active"><i class="fas fa-heading"></i>indi</a></li>
                        <li> <a class=" nav-link text-light link" routerLink="browse" routerLinkActive="active"><i class="fab fa-tumblr"></i>elugu </a></li>
                            
                    </ul>
                </div>
                 <div class="footer-col">
                     <h4>Get Help</h4>
                     <ul>
                      <li>
                        <a class="nav-link text-light link" routerLink="contactus" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i>Contactus</a>
                      </li>     
                    </ul>
                 </div>
                 
                 <div class="footer-col">
                     <h4>follow us</h4>
                     <div class="social-links">
                         <a href="#"><i class="fab fa-google"></i></a>
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-instagram"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                     </div>
                 </div>
             </div>
         </div>
    </footer>
  
  </body>