<nav class="navbar navbar-expand-md navbar-dark bg-dark mt-0 mb-2">
  <div class="container-fluid " style="font-size: 0.5rem;">
    <a class="navbar-brand text-light p-1 lefthead" href="#"><i class=" fab fa-napster fa-2x " ></i> NapSter</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="hello navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-1 ms-1">
          <a class="nav-link text-light link" routerLink="home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item me-1 ms-1">
          <a class="nav-link text-light link" routerLink="register" routerLinkActive="active">Register</a>
        </li>
        
        <li class="nav-item me-1 ms-1" *ngIf="!us.userLoginStatus">
          <a class="nav-link text-light link" routerLink="login" routerLinkActive="active">Log In</a>

        </li>
       
        <li class="nav-item me-1 ms-1" *ngIf="us.userLoginStatus">
          <a class="nav-link text-light link" routerLink="userprofile/:username" routerLinkActive="active">Profile</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              
                <a class="dropdown-item nav-link text-light link" routerLink="login" routerLinkActive="active" (click)=userLogout()>Log Out</a>
            </div>
          </div>
        </li>
         
        <li class="nav-item me-1 ms-1">
          <a class="nav-link text-light link" routerLink="browse" routerLinkActive="active"><i class="fas fa-search"></i>Browse</a>
        </li>
       
        <li class="nav-item me-1 ms-1" >
          <a class="nav-link text-light link" routerLink="contactus" routerLinkActive="active"><i class="fas fa-id-card-alt"></i>Contactus</a>
        </li>
       
       



      </ul>
     
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer class="mt-auto"></app-footer>


